<div class="col-md-6">
  <h3>Edit <%= @domain.name %></h3>

  <%= form_for(@domain) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :kind %>
    <%= f.text_field :kind, class: 'form-control' %>
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control' %>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.label :search_depth %>
    <%= f.text_field :search_depth, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, ['active', 'review', 'inactive'], class: 'form-control m-b', selected: @domain.status unless @domain.status.nil? %>
  </div>
  <div class="form-group">
    <%= f.label :status_date %>
    <%= f.text_field :status_date, class: 'form-control' %>
    <%= f.label :searched_at %>
    <%= f.text_field :searched_at, class: 'form-control' %><br />
    <%= f.submit "Save changes", class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
