<div class="col-md-6">
  <h3>Create <%= @domain.name %></h3>

  <%= form_for(@domain) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :kind %>
    <%= f.text_field :kind, class: 'form-control' %>
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control' %>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %><br />
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
