<h3>Add Location</h3>
<div>
  <%= form_for(@location) do |f| %>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :county %>
    <%= f.text_field :county, class: 'form-control' %>

    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>

    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control' %>

    <%= f.label :website %>
    <%= f.text_field :website, class: 'form-control' %>


      <%= f.label :type_of_services %>
      <%= f.text_field :type_of_services, class: 'form-control' %>
    </div>

    <%= f.submit "Add location", class: 'btn btn-primary' %>
  <% end %>

</div>
