<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <h1 class='logo'>Here 4 Reentry</h1>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <%= link_to "Welcome", root_path %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Domains", domains_path %>
          </li>
          <li>
            <%= link_to "Locations", locations_path %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
